@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans+Condensed:wght@300&display=swap');

*{
    margin: 0px;
    padding:0px;
}

body{
    font-family: 'Bebas Neue', cursive;
    min-height: 450px;
    background-color: rgb(74, 105, 74);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

main{
    width: 300px;
    height: 434px;
    background-image: url(../img/bg.calculadora.jpg);
    background-size: cover;
    background-position: center center;
    border: solid rgba(190, 190, 190, 0.205);
    border-radius: 20px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.445);
}

h1{
    padding-top: 5px;
    text-align: center;
    color:rgb(255, 255, 255);rgb(210, 255, 210);
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.363);
    font-weight:bolder;
}

.visor{
    height: 50px;
    width: 207px;
    margin-top: 15px;
    margin-left: 6px;
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: normal;
    font-size:2em;
    background-color: #68686860;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
}

input{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.555);
}
.num{
    width: 60px;
    height: 65px;
    border-radius: 10px;
    margin: 6.5px;
    background-color: #68686860;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
}
.C{
    width: 60px;
    height: 80px;
    margin-left: 12px;
    border-radius: 22px;
    background-color: #68686860;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
    position: relative;
    bottom: 9px;
}
footer{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 300px;
    height: 22px;
}
footer > h1{
    font-size: 15px;
    font-weight: normal;
    padding-top: 0px;
    margin: -3px;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}
footer a{
    color: white;
}

footer a:hover{
    color: blue;
}



